form.signup,
form.login {
  margin-top: 50px;
}
.card .card-title,
h5 {
  color: #ee6e72bf;
  font-weight: 500;
  padding-bottom: none;
}
.class-year {
  color: #ababab;
  font-weight: 500;
  /* float: right; */
  font-size: 18px;
}
.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating){
  color: #ee6e72bf;
}
.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating):hover {
  color: #ee6e72;
}
.btn-flat {
  color: #ee6e72;
}
.btn-floating {
  background-color: #ee6e72bf;
}
.btn-floating:hover {
  background-color: #ee6e72;
}
.divider {
  display: block;
  background-color: #dedede;
}
h3 {
  color: rgb(104, 104, 104);
}
#jumbotron {
  margin-top: 60px;
  display: block;
  background-color: #f2f2f2;
  border-radius: 5px;
  height: auto;
}
.jumboHeader {
  font-size: 48px;
  color: #ee6e72a3;
  padding-left: 32px;
  margin-bottom: -10px;
}
.jumboContent {
  padding: 24px;
  font-size: 18px;
  color: #9a9a9a;
}
.jumboText {
  padding-bottom: 24px;
}
.modal {
  height: 400px;
  width: 600px;
}
.modal-content {
  height: 100%;
}
.modal-image {
  display: block;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.modal .modal-footer {
  background-color: #ee6e721b;
}
nav .brand-logo {
  padding-left: 24px;
  padding-right: 24px;
  color: #ffe2e3;
}
nav .brand-logo:hover {
  color: #ffe2e3;
  text-decoration: none;
  background-color: #ed7d81;
}
nav .brand-logo:active {
  color: #ffe2e3;
  text-decoration: none;
  background-color: #ed7d81;
}
nav ul a {
  color: #ffe2e3;
}
nav ul a:hover {
  color: #ffe2e3;
  text-decoration: none;
  background-color: #ed7d81;
}


/* 720px Breakpoint */
@media only screen and (max-width: 720px) {
  .modal {
    width: 90%;
  }
  nav .brand-logo {
    padding-left: none;
    padding-right: none;
  }
  /* .hideAtBreak {
    visibility: hidden;
  } */
}