form.signup,
form.login {
  margin-top: 50px;
}
body {
}
.card .card-title,
h5 {
  color: #ee6e72bf;
  font-weight: 500;
  /* padding-bottom: 12px; */
}
.class-year {
  color: #8e8e8e;
  padding-left: 8px;
  font-weight: 100;
  /* float: right; */
}
.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating){
  color: #ee6e72bf;
}
.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating):hover {
  color: #ee6e72;
}
.brandColor {
  color: #ee6e72a3;
}
.btn-flat {
  color: #ee6e72;
}
.btn-floating {
  background-color: #ee6e72bf;
}
.btn-floating:hover {
  background-color: #ee6e72;
}
.divider {
  display: block;
  background-color: #dededec6;
}
#guest {
  color: #acacac;
  padding-left: 12px;
}
h3 {
  color: rgb(104, 104, 104);
}
.italics {
  font-style: italic;
}
#jumbotron {
  display: block;
  /* background-color: #f2f2f2f0; */
  border-radius: 5px;
  height: auto;
}
.jumboHeader {
  font-size: 48px;
  color: #8a8a8aa3;
  margin-bottom: -10px;
}
.jumboContent {
  padding: 24px;
  color: #9a9a9a;
}
.jumboText {
  padding-bottom: 24px;
  font-size: 24px;
  font-weight: lighter;
}
.modal {
  height: 320px;
  width: 600px;
}
.modal-close {
  color: #b0b0b0;
}
.modal-content {
  border-radius: inherit;
  border-left: 12px solid #ee6e728e;
  height: 100%;
}
.modal-image {
  display: block;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.modal .modal-footer {
  background-color: #ee6e721b;
}
nav .brand-logo {
  padding-left: 24px;
  padding-right: 24px;
  color: #ffe2e3;
}
nav .brand-logo:hover {
  color: #ffe2e3;
  text-decoration: none;
  background-color: #ed7d81;
}
nav .brand-logo:active {
  color: #ffe2e3;
  text-decoration: none;
  background-color: #ed7d81;
}
nav ul a {
  color: #ffe2e3;
}
nav ul a:hover {
  color: #ffe2e3;
  text-decoration: none;
  background-color: #ed7d81;
}
p {
  font-size: 18px;
}
.parallax-container {
  height: 500px;
  background-color: hsla(343, 31%, 0%, 0.25);
}
.topRepo {
  font-size: 18px;
  color: #9a9a9a;
  padding-top: 24px;
  padding-bottom: 12px;
}


/* 720px Breakpoint */
@media only screen and (max-width: 720px) {
  .jumboHeader {
    font-size: 32px;
    margin-bottom: -8px;
  }
  .jumboText {
    padding-bottom: 18px;
    font-size: 20px;
  }
  .modal {
    margin-top: 40%;
    width: 90%;
  }
  nav .brand-logo {
    padding-left: none;
    padding-right: none;
  }
  /* .hideAtBreak {
    visibility: hidden;
  } */
}